<ion-header>
  <ion-toolbar>
    <ion-title>Nuestrosdepartamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/depaink']">Volver <ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060337786428866661/image.png" />
    <ion-card-header>
      <ion-card-title>Sinergía Vicuña</ion-card-title>
      <ion-card-subtitle>UF 2.150</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Edificio Vicuña es un proyecto con un gran desarrollo futuro. Se emplaza en una atractiva ubicación de la comuna de Santiago, con excelente conectividad: a pasos del Metro Ñuble, donde conectan las Líneas 5 y 6, quedando a solo 15 minutos del corazón de Providencia y Santiago Centro.
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Sinergía Vicuña', precio:'UF 2.150', metrosCuadrados:'32.7-57.57m', numeroDormitorios:'1-2', banios:'1-2', comuna:'Santiago', codigoDePropiedad:'8363', fechaDeEntrega:'2 semestre 2022', estadoDelProyecto:'Pronta entrega', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060337786428866661/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>


  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060338307562745886/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio WM</ion-card-title>
      <ion-card-subtitle>UF 3.330</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Este proyecto es la nueva y moderna propuesta de Grupo Inmobiliario Isiete, para quien busca un estilo de vida urbano y confortable. El edificio se emplaza en la comuna de La Florida
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio WM', precio:'UF 3.330', metrosCuadrados:'45.19-81.29m', numeroDormitorios:'2-3', banios:'1-2', comuna:'La florida', codigoDePropiedad:'8080', fechaDeEntrega:'1 semestre 2023', estadoDelProyecto:'Pronta entrega', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060338307562745886/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>


  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060374515319853066/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio San Diego- Vista Poniente Piso 4</ion-card-title>
      <ion-card-subtitle>$270.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Este departamente es un tipo estudio, disponible a partir del 19 de enero. Esta fecha puede cambiar
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio San Diego- Vista Poniente Piso 4', precio:'$270.000', metrosCuadrados:'27m', numeroDormitorios:'1', banios:'1', comuna:'Santiago', codigoDePropiedad:'214430', fechaDeEntrega:'19 de Enero', estadoDelProyecto:'Pronta entrega', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060374515319853066/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>


  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060377169903231086/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio Factoria Italia- Vista Oriente Piso 3</ion-card-title>
      <ion-card-subtitle>$444.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      ¡WOW! Esta propiedad está con descuento: 50.00% de descuento por los primeros 2 meses, preguntar por los detalles de la promoción.. Este descuento no considera los gastos comunes. Los descuentos se aplican sobre el valor publicado.
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio San Diego- Vista Poniente Piso 4', precio:'$444.000', metrosCuadrados:'30m', numeroDormitorios:'1', banios:'1', comuna:'Providencia', codigoDePropiedad:'449200', fechaDeEntrega:'', estadoDelProyecto:'Terminado', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060377169903231086/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>


  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060378191665049600/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio Dublé Almeyda- Vista Sur Piso 1</ion-card-title>
      <ion-card-subtitle>$465.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      !Este departamento puede ser tu nuevo hogar! Disponible a partir del 12 de Enero
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio Dublé Almeyda- Vista Sur Piso 1', precio:'$465.000', metrosCuadrados:'33m', numeroDormitorios:'1', banios:'1', comuna:'Ñuñoa', codigoDePropiedad:'443611', fechaDeEntrega:'12 de Enero', estadoDelProyecto:'Terminado', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060378191665049600/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>

<!-- 6 -->
  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060379827129032854/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio Av. Manquehue Nte.- Vista Norte Piso 4</ion-card-title>
      <ion-card-subtitle>$1.195.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      !Este departamento puede ser tu nuevo hogar! Los gastos comunes son referenciales y podrían variar mes a mes.
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio Av. Manquehue Nte.- Vista Norte Piso 4', precio:'$1.195.000', metrosCuadrados:'87.45m', numeroDormitorios:'2', banios:'2', comuna:'Las Condes', codigoDePropiedad:'327419', fechaDeEntrega:'', estadoDelProyecto:'Terminado', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060379827129032854/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>


  <!--7-->
  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060380344911679508/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio Factoria Italia- Vista Oriente Piso 5</ion-card-title>
      <ion-card-subtitle>$621.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      !Este departamento puede ser tu nuevo hogar! Este departamente es un tipo Loft
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio Factoria Italia- Vista Oriente Piso 5', precio:'$621.000', metrosCuadrados:'53m', numeroDormitorios:'1', banios:'1', comuna:'Providencia', codigoDePropiedad:'449227', fechaDeEntrega:'', estadoDelProyecto:'Terminado', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060380344911679508/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>


  <!--8-->
  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060380680795738192/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio Matucana- Vista Poniente Piso 9</ion-card-title>
      <ion-card-subtitle>$430.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      ¡WOW! Esta propiedad está con descuento: 50.00% de descuento por los primeros 2 meses, preguntar por los detalles de la promoción.. Este descuento no considera los gastos comunes. Los descuentos se aplican sobre el valor publicado.
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio Matucana- Vista Poniente Piso 9', precio:'$430.000', metrosCuadrados:'53.05m', numeroDormitorios:'2', banios:'2', comuna:'Santiago', codigoDePropiedad:'442143', fechaDeEntrega:'', estadoDelProyecto:'Terminado', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060380680795738192/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>


  <!--9-->
  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060381231180681246/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio Av. Almte. Blanco Encalada- Vista Norte Piso 2</ion-card-title>
      <ion-card-subtitle>$350.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      El edificio se encuentra cercano estación de metro L2 - Toesca (1400.00 mts.) y metro L2 - Parque O'Higgins (1700.00 mts.)
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio Av. Almte. Blanco Encalada- Vista Norte Piso 2', precio:'$350.000', metrosCuadrados:'28m', numeroDormitorios:'1', banios:'1', comuna:'Santiago', codigoDePropiedad:'456195', fechaDeEntrega:'', estadoDelProyecto:'Terminado', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060381231180681246/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>

  <!--10-->
  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/835335745761574932/1060381952252846110/image.png" />
    <ion-card-header>
      <ion-card-title>Edificio Los Almendros- Vista Surponiente Piso 6</ion-card-title>
      <ion-card-subtitle>$893.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Edificio 100% dedicado al arriendo. Cuenta con administración y mantención profesional. Los gastos comunes son referenciales y podrían variar mes a mes.
    </ion-card-content>
    <ion-button [routerLink]="['/departamentos']" [queryParams]="{nombre: 'Edificio Los Almendros- Vista Surponiente Piso 6', precio:'$893.000', metrosCuadrados:'105m', numeroDormitorios:'3', banios:'2', comuna:'Huechuraba', codigoDePropiedad:'455681', fechaDeEntrega:'', estadoDelProyecto:'Terminado', imagen:'https://cdn.discordapp.com/attachments/835335745761574932/1060381952252846110/image.png'}">Mas detalles <ion-icon name="add-circle-outline"></ion-icon></ion-button>
  </ion-card>
</ion-content>
