<ion-header>
  <ion-toolbar>
    <ion-title>contactanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuestras redes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button><ion-icon name="logo-facebook"></ion-icon></ion-button>
      <ion-button><ion-icon name="logo-instagram"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuestros números</ion-card-title>
      <ion-button><ion-icon name="logo-whatsapp"></ion-icon> +56988224859</ion-button>
    </ion-card-header>
  </ion-card>


</ion-content>
